@model IEnumerable<SkiProductsWebApp.Models.Product2>

@{
    ViewBag.Title = "Cart";
}

<h2>Korpa</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
           
            <div>
                <img src="~/Images/@Html.DisplayFor(modelItem => item.Image)" style="width:100px; height:110px;" alt="Alternate Text" />
            </div>
            @Html.DisplayFor(modelItem => item.Name)
            <p>
               Cena: @Html.DisplayFor(modelItem => item.Price)
            </p>
            <div>
                @using (Html.BeginForm("DeleteOrder", "Products", FormMethod.Post))
                {
                    <form>
                        <div class="form-group">
                            <input type="hidden" name="order_id" value='@item.Order_id' class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="far fa-times-circle"></i></button>
                    </form>
                }
            </div>
        </div>
    }
</div>

<h4>
    Ukupno za porudžbinu: @ViewBag.TotalPrice
</h4>


