@{
    ViewBag.Title = "O nama";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>O nama</h2>
<p>
    Ski, je kompanija sa mrežom maloprodajnih objekata koji se nalaze na najatraktivnijim – centralnim lokacijama (tržnim centrima i shopping zonama) svih većih gradova u regionu.

    Ski je zvanični distributer velikih svetskih brendova iz fashion, casual, street garderobe, ali, takođe, i vrhunske sportske opreme iz oblasti skijanja, tenisa, outdoor, biciklizma, kao i action - extreme sportova.

    Naš prodajni asortiman nudi vam mogućnost da budete upoznati sa najnovijim svetskim trendovima putem brendova kao što su: Pepe Jeans, Superdry, ONeil, Quiksilver, DC, EMU. Takođe, omogućili smo vam i pristup u najsavremenije tehnologije u sportskoj opremi putem brendova koji su sinonim za invenciju i vrhunske performanse: Wilson, Salomon, Atomic, Burton, Spyder, Carerra, North Face, Suunto...

    Tim Ski je u stalnom porastu, i čini ga više od 200 zaposlenih.
    Naša misija je da budemo u stalnoj komunikaciji sa našim potrošačima i klijentima i da im kroz prodajni asortiman ponudimo vrhunski kvalitet proizvoda koji će upotpuniti njihov životni stil i unaprediti sportske rezultate.

    Uzimajući aktivno učešće u promociji sporta i aktivnosti u prirodi, trudimo se da afirmišemo zdrave načine življenja i uzmemo učešće u popularizaciji novih tehnologija.

    Naša vizija je da proširimo maloprodajnu mrežu i budemo što dostupniji svim potrošačima širom Srbije, BiH, Crne Gore i Makedonije, kako bi smo uvek bili u prilici da nadmašimo očekivanja naših kupaca i poslovnih partnera.
</p>
