@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <img src="~/Images/skiing.jpg" alt="Alternate Text" style="width:100%; height:650px;" />
    <h1>Ski Veb Prodavnica</h1>
    <p class="lead">Enjoy your winterly moments with us.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fantomke</h2>
        <img src="~/Images/fantomkangn.jpg" alt="Alternate Text" style="width:100%; height:300px;" />
        <button class="ibtn btn btn-warning">@Html.ActionLink("Fantomke", "Undercap", "Products")</button>
    </div>
    <div class="col-md-4">
        <h2>Skije</h2>
        <img src="~/Images/skije0.jpg" alt="Alternate Text" style="width:100%; height:300px;" />
        <button class="ibtn btn btn-warning">@Html.ActionLink("Skije", "Skiis", "Products")</button>
    </div>
    <div class="col-md-4">
        <h2>Ski jakne</h2>
        <img src="~/Images/jacket0.jpg" alt="Alternate Text" style="width:100%; height:300px;" />
        <button class="ibtn btn btn-warning">@Html.ActionLink("Jakne", "SkiJacket", "Products")</button>
    </div>
</div>